*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}
html{
  height: 100%;
}
body{
  min-height: 100%;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif ;
}
body:before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 230px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eaeaea+0,ffffff+100 */
  background: rgb(234,234,234); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(234,234,234,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(234,234,234,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

} 
img{
  max-width: 100%;
}
.ta-center{
  text-align: center;
}
.wrapper{
  padding: 0 20px;
  margin: 0 auto;
  max-width: 960px;
}
[class*="col-"],[class*="-col__"]{
  padding: 0 20px;
  width: 100%;
}
@media (min-width: 560px){
  .col-phablet-1-2{
    max-width: 50%;
  }
}
@media (min-width: 960px){
  .col-desktop-1-4{
    max-width: 25%;
  }
  .col-desktop-3-4{
    max-width: 75%; 
  }
  .col-desktop-1-3{
    max-width: 33.33%; 
  }
}

.row{
  margin: 0 -20px;
  display: flex;
  flex-wrap: wrap;
}
.wrapper_full-width{
  max-width: 10000px;
}
.fixed-footer,.fixed-header{
  display: flex;
  flex-direction: column;
}
.fixed-header{
  height: 100%;
}
.fixed-header .page{
  overflow-y: scroll; 
}
.fixed-footer .page{
  flex: 1 auto;
}
.fixed-footer .footer{
  margin-top: auto;
}
.m-b-20{
  margin-bottom: 20px;
}

}
 /*медіазапит CSS*/
 /*@media - ключове слово*/
 /* ( тут пишем правило спрацювання )*/
 /* { тут селестори та стилі }*/
@media ( min-width: 560px ) {

  .movie{
    display: flex;
    /*display: flex; 
      - вмикає flex поведінку, 
      ставить дочірні блоки в ряд,
      робить їх по ширині свого контенту
    */
  }
  .movie__poster{
    max-width: 200px;
    /* обмежує блок з постером по ширині*/
  }
  .movie__description{
    padding-left: 20px;
    flex: 1 auto;
    /*flex: 1 auto; 
    заставляє цей блок тягнутися 
    по всій доступній йому ширині*/
  }
  

}
.m-20{
  margin: 20px;
}
.p-10{
  padding: 10px;
}



  
}
.advantages__flex{
  
  align-items: center;
}
.advantages__icon{
  display: flex;
  max-width: 70px;
  min-width: 70px;
  align-items: center;
  justify-content: center;

}

.advantages .advantages__flex{
display: flex;
max-width: 250px;
}
.logo{
  height: 52px;
  background: #E6E6E6;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
  
  
  
}
.advantages{
  display: flex;
  height: 52px;
  background-size: cover;
  font-family: Arial;
  color: #F7F8FC;
  font-weight: 600;
  flex: 1 25%;
  
}
.advantages__text{
  display: flex;
  margin: auto 0;
  padding-right: 20px;
}

.top-bar{
  background: #3f4e86;
  padding: 10px 15px;
  display: flex;
  font-family: Arial;
  color: #fff;
  text-align: center;
}
.contacts{
  margin: auto;
  
  margin-left: auto;
  margin-right: 10px; 
  color:  #fff;

  

}
.header{
  
  padding-top: 25px;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
  box-shadow: inset 0 3px 0 0 #3f4e86;
}
.telephone-top{
  
  margin: auto 0;

}
.advantages_bg1{
  background-image: url('../img/advantages_bg1.png');
}
.advantages_bg2{
  background-image: url('../img/advantages_bg2.png');
}
.advantages_bg3{
  background-image: url('../img/advantages_bg3.png');
}
.advantages .advantages_bg1{
  
}
.advantages .advantages_bg2{
  
}
.advantages .advantages_bg3{
  
}
#nav{
  font-family: Arial;
  list-style-type: none;
}

#nav a{
  text-decoration: none;
  display: block;
  padding: 10px 25px;
  color: black;
}
#active a, #nav li:hover > a{
  background: #586FAC;
  color: #F7F8FC;
}
#nav li{
  background: #D5CECE;
}
#nav ul{
  visibility: hidden;
  padding: 0;
  position: absolute;
  list-style-type: none;
}
#nav li:hover >ul{
  visibility: visible;
  position: relative;
}
#nav >li{
  border-bottom: 2px solid #F2F2F2;
}
#menu{
  width: 220px;
  
}
.copyright{
  display: flex;
  margin: auto 0;
}
.telephone-bottom{
  margin: auto;
  margin-right: 2em;
  margin-left: auto;

}
.bottom-bar{
  display: flex;
  padding: 20px;
  border-top: 2px solid #B4B4AB;
}
.logo-advantages{
  display: flex;
  max-width: 100%;
  margin: 1px;
  flex-direction: column;
  width: 940px;

}
.telephone-top-color{
  color:  #97B5F9;
}
.main-page{
  display: flex;
  flex-direction: column;
}
.content{
  width: 100%;
}
h1{
  padding: 10px 0;
  padding-top: 0;
  font-family: Arial;
  font-weight: 500;
  color: #374989;
}
h2{
  font-size: 0.9em;
  padding: 10px 0;
  padding-top: 0;
  font-family: Arial;
  font-weight: 550;
  line-height: 1.5;
}
.purpose{
  color: #374989;
}

[href^="tel:"]{
  text-decoration: none;
  white-space: nowrap;
  color: #aad4ff;
}
.page{
  z-index: 3;
}
@media (min-width: 560px ){
  .top-bar{
    display: flex;
    justify-content: space-between;
  }
  .logo-advantages{
    width: 100%;
    display: flex;
    flex-direction: row;


  }
  .logo{
    min-width: 25%;
  }
}

.opportunities{
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}
.opportunities__box{
  height: 140px;
  width: 220px;
  background: #3f4e86;
  margin: 10px 0;
  justify-content: center;

  
}
@media (min-width: 560px ){
  .main-page{
    display: flex;
    flex-direction: row;
    
  }
  .content {
    display: flex;
    flex-direction: column;
    
  }

}
.box-icon{
  height: 40px;
  padding: 15px 0; 
}
.box-text{
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0 5px;
  color: #fff;
}
.opportunities__text{
  font-size: 1.8em;
  
  
}