*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}
html{
  height: 100%;
}
body{
  min-height: 100%;
}
img{
  max-width: 100%;
}
.ta-center{
  text-align: center;
}
.wrapper{
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.wrapper_full-width{
  max-width: 10000px;
}
.fixed-footer,.fixed-header{
  display: flex;
  flex-direction: column;
}
.fixed-header{
  height: 100%;
}
.fixed-header .page{
  overflow-y: scroll; 
}
.fixed-footer .page{
  flex: 1 auto;
}
.fixed-footer .footer{
  margin-top: auto;
}
.m-b-20{
  margin-bottom: 20px;
}

}
 /*медіазапит CSS*/
 /*@media - ключове слово*/
 /* ( тут пишем правило спрацювання )*/
 /* { тут селестори та стилі }*/
@media ( min-width: 560px ) {

  .movie{
    display: flex;
    /*display: flex; 
      - вмикає flex поведінку, 
      ставить дочірні блоки в ряд,
      робить їх по ширині свого контенту
    */
  }
  .movie__poster{
    max-width: 200px;
    /* обмежує блок з постером по ширині*/
  }
  .movie__description{
    padding-left: 20px;
    flex: 1 auto;
    /*flex: 1 auto; 
    заставляє цей блок тягнутися 
    по всій доступній йому ширині*/
  }
  

}
.m-20{
  margin: 20px;
}
.p-10{
  padding: 10px;
}




.components__img{
  max-width: 180px;
  }
@media ( min-width: 400px ) {
  .components{
  display: inline-flex;
  width: 100%;
  
  }
  .components__logo{
  width: 25%;
  } 
}
.components{
  background: #A4A4A4;
  margin-top: 20px;
  font-family: Arial;
  color: white;
  font-weight: bold;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;


}
.components__experience{
  
  width: 25%;
  vertical-align: middle;
  
}
.components__interactive-methods{
  width: 25%;
}
.components__approach{
  width: 25%;
  text-align: left;
}
