*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}
html{
  height: 100%;
}
body{
  min-height: 100%;
  background: #F2F2F2;
}
img{
  width: 150px;
  height: auto;
}
.ta-center{
  text-align: center;
}
.wrapper{
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.wrapper_full-width{
  max-width: 10000px;
}
.fixed-footer,.fixed-header{
  display: flex;
  flex-direction: column;
}
.fixed-header{
  height: 100%;
}
.fixed-header .page{
  overflow-y: scroll; 
}
.fixed-footer .page{
  flex: 1 auto;
}
.fixed-footer .footer{
  margin-top: auto;
}
.m-b-20{
  margin-bottom: 20px;
}

}
 /*медіазапит CSS*/
 /*@media - ключове слово*/
 /* ( тут пишем правило спрацювання )*/
 /* { тут селестори та стилі }*/
@media ( min-width: 560px ) {

  .movie{
    display: flex;
    /*display: flex; 
      - вмикає flex поведінку, 
      ставить дочірні блоки в ряд,
      робить їх по ширині свого контенту
    */
  }
  .movie__poster{
    max-width: 200px;
    /* обмежує блок з постером по ширині*/
  }
  .movie__description{
    padding-left: 20px;
    flex: 1 auto;
    /*flex: 1 auto; 
    заставляє цей блок тягнутися 
    по всій доступній йому ширині*/
  }
  

}
.m-20{
  margin: 20px;
}
.p-10{
  padding: 10px;
}


.advantages {
  
  background-size: cover;
  
}
.advantages__flex{
  
  align-items: center;
}
.advantages__icon{
  display: flex;
  max-width: 70px;
  min-width: 70px;
  align-items: center;
  justify-content: center;

}

.advantages .advantages__flex{
display: flex;
max-width: 250px;
}
.logo{
  height: 61px;
  background: #E6E6E6;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  width: 210px;
  
  
  
}
.advantages{
  display: flex;
  height: 61px;
  background-size: cover;
  font-family: Arial;
  color: #F7F8FC;
  font-weight: 600;
}
.advantages__text{
  display: flex;
  margin: auto 0;
  padding-right: 20px;
}

.top-bar{
  background: #586FAC;
  padding: 20px;
  display: flex;
  font-family: Arial;
  color: #F7F8FC;
}
.contacts{
  margin: auto;
  
  margin-left: auto;
  margin-right: 2em; 
  color:  #97B5F9;

  

}
.header{
  margin-top: 15px;
}
.telephone-top{
  padding-left: 15px;
  margin: auto 0;

}
.advantages_bg1{
  background-image: url('../img/advantages_bg1.png');
}

#nav{
  font-family: Arial;
  list-style-type: none;
}

#nav a{
  text-decoration: none;
  display: block;
  padding: 10px 25px;
  color: black;
}
#active a, #nav li:hover > a{
  background: #586FAC;
  color: #F7F8FC;
}
#nav li{
  background: #D5CECE;
}
#nav ul{
  visibility: hidden;
  padding: 0;
  position: absolute;
  list-style-type: none;
}
#nav li:hover >ul{
  visibility: visible;
  position: relative;
}
#nav >li{
  border-bottom: 2px solid #F2F2F2;
}
#menu{
  width: 260px;
}
.copyright{
  display: flex;
  margin: auto 0;
}
.telephone-bottom{
  margin: auto;
  margin-right: 2em;
  margin-left: auto;

}
.bottom-bar{
  display: flex;
  padding: 20px;
  border-top: 2px solid #B4B4AB;
}
.logo-adventages{
  display: flex;
  width: 100%;
  border-top: 2px solid #F2F2F2; 
}
.telephone-top-color{
  color:  #97B5F9;
}
.main-page{
  display: flex;

}
.content{
  width: 100%;
}
h1{
  padding: 25px;
  padding-top: 0;
  font-family: Arial;
  font-weight: 500;
  color: #374989;
}
h2{
  font-size: 0.9em;
  padding: 25px;
  padding-top: 0;
  font-family: Arial;
  font-weight: 550;
  line-height: 1.5;
}
.purpose{
  color: #374989;
}
